@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');


body{ 
 font-family: Poppins, sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
}

p,ol {
    font-size: 2opx;
    line-height: 24px;
}

ol{
    padding-left: 0;
    list-style-position: inside;
}

a, a:visited{
    color: #9BCD5A;
}

a:hover{
    color: #ffcc01;
}

a:active{
    color: #f0c4d1;
}

p.caption{
    font-size: 16px;
    color: rgb(195, 193, 193);
    font-style: oblique;
    margin-top: 0;
        style="white-space: pre-wrap; transition-timing-function: e ase; transition-duration: 0.6s; transition-delay: 0.204s;"
}

header{
text-align: center;
background-color: #ffcc01;
padding: 20px;
}

header .pfp{
    width: 350px;
    height: 350px;
    border: 12px solid #9BCD5A;
    border-radius: 50%;
    background-image: url('./../img/Louiesaludo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 110%;
    margin: 0 auto;
}

p.article-body{
    text-align: justify;
}

p.preFade-fadein
{
    style="white-space: pre-wrap; transition-timing-function: e ase; transition-duration: 0.6s; transition-delay: 0.204s;"
}

h1{
  font-family: "Margarine", sans-serif; 
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
   margin: 15px 0 25px 0;
       style="white-space: pre-wrap; transition-timing-function: e ase; transition-duration: 0.6s; transition-delay: 0.204s;"
}

h2{
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
   margin:  20px 0;
   color: #9BCD5A;
       style="white-space: pre-wrap; transition-timing-function: e ase; transition-duration: 0.6s; transition-delay: 0.204s;"
}

main{
    width: 800px;
    margin: 0 auto;
}

main img{
    max-width: 100%;
}

footer{     
    background-color: #f0c4d1;
    padding: 40px;
    text-align: center;
    margin-top: 60px;
}

footer.content{
    width: 800px;
    margin: 0 auto;
}

footer a:hover{
    color: white;
}