
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body{
  background-color: #6DD0F4;  
}

html, body{
    margin: 0;
    padding: 0;
}

header{
text-align: center;
background-color: #ffcc01;
padding: 20px;
}

header .pfp{
    width: 350px;
    height: 350px;
    border: 12px solid #9BCD5A;
    border-radius: 50%;
    background-image: url('./../img/Louiesaludo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 110%;
    margin: 0 auto;
}
header h1{
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
   margin: 15px 0 25px 0;
}
